.loader {
  width: 26px;
  height: 26px;
  background-image: url(../../public/preloader.svg);
  margin-right: 10px;

  opacity: 0;
  visibility: hidden;

  will-change: opacity, visibility;
  transition:
    visibility 0.3s,
    opacity 0s linear;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
