.user {
  position: absolute;
  right: 0;
  flex: 0 0 auto;

  &:hover {
    cursor: pointer;
    background-color: #3dc128;
  }

  .avatar {
    margin: 8px 15px;
    height: 32px;
    width: 32px;
    background-color: #ddd;
    border-radius: 16px;
  }
}
