.profileBar {
  display: flex;
  width: 95%;
  height: 26px;
  margin: 0 auto 10px auto;
  font-size: 14px;
  /*line-height: 26px;*/
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .divider {
    width: 1px;
    height: 26px;
    background: #5d5d5d;
  }

  > div {
    display: flex;
    flex: 0 0 auto;
    position: relative;
    &.profileDel {
      position: absolute;
    }
  }
}

.profileText {
  display: block;
}

.profileEdit {
  position: absolute;
  z-index: 100;

  font-family: "Roboto", sans-serif;
  position: absolute;
  /*display: none;*/
  /*width: calc(100% - 30px);*/
  /*margin-left: 30px;*/
  border: 1px solid #44d62c;
  box-sizing: border-box;
  background-color: #111 !important;
  padding: 5px 6px;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
  height: 27px;
  width: 230px;
  margin-left: -10px;
  display: none;
  &.show {
    display: block;
  }
  &:focus {
    outline: none;
  }
}

::selection {
  	background: rgba(68,214,44, 0.3);
}
